<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">
	<include resource="org/springframework/boot/logging/logback/defaults.xml"/>
	<include resource="org/springframework/boot/logging/logback/console-appender.xml"/>
	<appender name="ROLLING-FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<fileNamePattern>${LOG_FILE}_%d{yyyy-MM-dd}.log.%i</fileNamePattern>
			<maxFileSize>4096mb</maxFileSize>
			<maxHistory>10</maxHistory>
			<!--		<totalSizeCap>20GB</totalSizeCap>-->
		</rollingPolicy>
		<encoder>
			<pattern>${FILE_LOG_PATTERN}</pattern>
		</encoder>
	</appender>
	<root level="INFO">
		<appender-ref ref="CONSOLE"/>
		<appender-ref ref="ROLLING-FILE"/>
	</root>
</configuration>